.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 300ms ease-in-out;
}

.collection-item:hover {
  background: #ddd;
  cursor: pointer;
}

.collection-item > i {
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.collection-item > i:hover {
  transform: scale(1.05);
}
